@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
/* .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

h1 {
  font-size: 1.2rem;
  color: rgb(27, 1, 20);
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(27, 1, 20);
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.clickable:hover {
  text-decoration: underline;
  font-weight: bold;
}

body {
  cursor: default;
  background-image: url('./backgroud-treee.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: center;
}

main {
  margin-top: var(--top-header-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content:start;
}

.content-container {
  margin-top: 10px;
  background: inherit;
  backdrop-filter: blur(10px);
  font-size: 20px;
  padding: 5px;

  box-shadow: 3px 3px 5px #1b2d3d;
  color: black;
  border-radius: 15px;
  border: solid 1px white;
}

.content-container:first-child {
  margin-top: var(--top-header-height);
}

div.form-label {
  margin-top: 0.5em;
  font-weight: bold;
}

div.form-value {
  margin-top: 0.5em;
}

.form-span2 {
  grid-column: 1 / span 2;
  text-align: center;
}

/*  */